

.Productos > div {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    list-style: none;
    margin-right: 150px;
}

.producto,
.Jabon,
.crema {
    background-color: #EDF2C2; 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.producto p,
.Jabon p,
.crema p{
    text-align: left;
}
.producto-img,
.jabon-img,
.cremaSangre-img,
.CremaNut-img,
.CremaManos-img,
.CremaAnt-img {
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto-img {
    width: 100px;
}
#ShampooJengibre{
    width: 80px;
}
#TratamientoCapilar{
    width: 80px;
}
.jabon-img {
    width: 300px;
}
.cremaSangre-img,
.CremaNut-img,
.CremaAnt-img {
    width: 250px;
}
.CremaManos-img{
    width: 130px;
    height: 230px;
}
.producto h3,
.Jabon h3,
.crema h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight:bold;
    color: black;
}

.capilares, .Jabones, .cremas {
    text-align: center;
}

.capilares h2, .Jabones h2, .cremas h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: fantasy;;
}


.contenedor {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 20px;
}

.Categorias { 
    display: flex;
    position: fixed;
    right: 20px;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 10px;
    background-color: #4D8C3B; 
    border: 1px solid #ddd;
    border-radius: 8px;
    color: black;
    font-family:fantasy;

}

.Categorias h2{
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin-bottom: 20px;
    font-family:fantasy;
    
}

.categoria {
    background-color: #b0bf39;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family:fantasy;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 200px; 
    
}

.categoria:hover {
    background-color: #D8E2A4;
}